@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futurism';
  src: url('/public/futurism-6969878/Futurism.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alro';
  src: url('/public/alro/otf/alro-alro-regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}